.postSearchInput {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px auto;
    width: 50%;
}

.postsList {
    display: flex;
    flex-wrap: wrap;
    width: 60%;
    justify-content: center;
    align-items: center;
    margin: auto;
}

.postsList div {
    width: 40%;
    margin: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 2px solid rgb(149, 149, 250);
}

.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 15px auto;
}